# 1. ignore everything
*

# 2. allow for
!dashboard
!poetry.lock
!poetry.toml
!pyproject.toml
!*.py

# 3. ignore everything in allowed files/folders
venv/
.venv/
.poetry_cache/
data/
.git/
.idea
**/__pycache__
.ipynb_checkpoints
.vscode/
.coverage
.cache
**/.pytest_cache
**/*.html
.dockerignore
.gitignore
Dockerfile
.env
